apiVersion: apps/v1
kind: Deployment
metadata:
  name: checkout
  namespace: e-commerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: checkout
  template:
    metadata:
      labels:
        app: checkout
    spec:
      containers:
      - name: checkout
        image: public.ecr.aws/u2p7p1b2/e-commerce:checkout
        ports:
        - containerPort: 8080
        env:
        - name: RETAIL_CHECKOUT_PERSISTENCE_PROVIDER
          valueFrom:
            configMapKeyRef:
              name: checkout-config
              key: RETAIL_CHECKOUT_PERSISTENCE_PROVIDER

        - name: RETAIL_CHECKOUT_PERSISTENCE_REDIS_URL
          valueFrom:
            configMapKeyRef:
              name: checkout-config
              key: RETAIL_CHECKOUT_PERSISTENCE_REDIS_URL

        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10

        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 15
